@charset "utf-8";
/* 簡單流變媒體
   注意: 流變媒體要求您必須移除 HTML 中媒體的高度和寬度屬性
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
img {
  vertical-align : middle;
}
body { background-color: #19191b;}

/* IE 6 不支援最大寬度，因此寬度預設為 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver 流變格線屬性
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	10;
	dw-gutter-percentage:	25;
	
	靈感來自於 Ethan Marcotte 的「具回應功能的網頁設計」 
	http://www.alistapart.com/articles/responsive-web-design
	
	以及 Joni Korpi 的「黃金格線系統」
	http://goldengridsystem.com/
*/

/* 行動版面: 480px 以下。 */

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 87.36%;
	padding-left: 1.82%;
	padding-right: 1.82%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#Header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#Context {
	clear: both;
	float: left;
	width: 94%;
	padding-left: 3%;
	padding-right: 3%;
	margin: auto;
	display: block;
	background-color: #000;
}
#BannerDiv {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#ContentLeft {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#Content {
	clear: both;
	float: left;
	margin-left: 0;
	width: 80%;
	display: block;
	padding: 10%;
}
#Footer {
	width: 94%;
	padding-left: 3%;
	padding-right: 3%;
	margin: auto;
}
#FooterLeft {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	height: 250px;
}
#FooterMain {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#FooterMain1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#FooterMain2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#CopyRight {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#Navi-bg {
	clear: both;
	float: left;
	width: 100%;
	display: block;
	background-image: url(../images/navi-bg.png);
	background-repeat: repeat;
	margin-left: auto;
	margin-right: auto;
	height: 180px;
}
#Navi {
	clear: both;
	float: left;
	margin-left: 0px;
	width: 100%;
	display: block;
	list-style-type: none;
	position: relative;
	top: 0px;
	background-image: url(../images/navi-bg.png);
	background-repeat: repeat;
}
#Navi ul li {
	height: 36px;
	line-height: 5px;
	position: relative;
	font-size: 1em;
	font-weight: normal;
	color: #FFF;
	text-shadow: #999 0.1em 0.1em 0.1em;
	list-style-type: none;
	}
#Navi ul li.rdown {
		background-position:0 -30px;
		color:#C00;
		}
	
#Navi ul li a {
	text-decoration: none;
	color: #FFF;
	font-weight: bold;
	}
#Navi ul li a:hover {
	color: #FF9;
	text-shadow: #000 0.2em 0.2em 0.5em;
	font-weight: bold;
	}

/* 表格版面: 481px 到 768px。樣式繼承自: 行動版面。 */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#Header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	position:relative; /*to IE*/　
	display:table-cell;
	text-align:center;
}
#Context {
	clear: both;
	float: left;
	width: 94%;
	padding-left: 3%;
	padding-right: 3%;
	margin: auto;
	display: block;
	background-color: #000;
}
#BannerDiv {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#ContentLeft {
	clear: both;
	float: left;
	margin-left: 0;
	width: 30%;
	display: block;
}
#Content {
	clear: none;
	float: left;
	margin-left: 0;
	width: 60%;
	display: block;
	height: 100px;
	padding: 5%;
}
#Footer {
	width: 94%;
	margin: auto;
	padding: 3%;
	height: 300px;
}
#FooterLeft {
	clear: both;
	float: left;
	margin-left: 0;
	width: 30%;
	display: block;
	padding-right: 3%;
}
#FooterMain {
	clear: none;
	float: left;
	margin-left: 0;
	width: 66%;
	display: block;
	height: 100px;
}
#FooterMain1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 40%;
	display: block;
	height: 100px;
	padding-right: 9px;
}
#FooterMain2 {
	clear: none;
	float: left;
	margin-left: 0;
	width: 40%;
	display: block;
	height: 100px;
	padding-right: 9px;
}
#CopyRight {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#Navi-bg {
	clear: both;
	float: left;
	width: 100%;
	display: block;
	background-image: url(../images/navi-bg.png);
	background-repeat: repeat;
	margin-left: auto;
	margin-right: auto;
}
#Navi {
	clear: both;
	float: left;
	margin-left: 0px;
	width: 50%;
	display: block;
	list-style-type: none;
	position: relative;
	height: 36px;
	top: 0px;
	background-image: url(../images/navi-bg.png);
	background-repeat: repeat;
}
#Navi ul li {
	height: 36px;
	line-height: 5px;
	position: relative;
	font-size: 1em;
	font-weight: normal;
	color: #FFF;
	text-shadow: #999 0.1em 0.1em 0.1em;
	list-style-type: none;
	}
#Navi ul li.rdown {
		background-position:0 -30px;
		color:#C00;
		}
	
#Navi ul li a {
	text-decoration: none;
	color: #FFF;
	font-weight: bold;
	}
#Navi ul li a:hover {
	color: #FF9;
	text-shadow: #000 0.2em 0.2em 0.5em;
	font-weight: bold;
	}
}

/* 桌面版面: 769px 到最大 1232px。樣式繼承自: 行動版面和表格版面。 */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 88.2%;
	max-width: 1200px;
	padding-left: 0.9%;
	padding-right: 0.9%;
	margin: auto;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#Header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	position:relative; /*to IE*/　
	display:table-cell;
	text-align:center;
}
.logo1 {
	position:static !important;　
	position:relative; 　
	top:-50%; /*IE向上-50%*/　
	left:-50%; /*IE向左-50%*/　
}
#Context {
	clear: both;
	float: left;
	width: 90%;
	padding-left: 5%;
	padding-right: 5%;
	margin: auto;
	display: block;
	background-color: #000;
}
#BannerDiv {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#ContentLeft {
	clear: both;
	float: left;
	margin-left: 0;
	width: 30%;
	display: block;
}
#Content {
	clear: none;
	float: left;
	margin-left: 0;
	width: 60%;
	display: block;
	height: 100px;
	padding: 5%;
}
#Footer {
	width: 90%;
	margin: auto;
	padding: 5%;
}
#FooterLeft {
	clear: both;
	float: left;
	width: 30%;
	display: block;
	height: 200px;
	padding-right: 3%;
}
#FooterMain {
	clear: none;
	float: left;
	margin-left: 0;
	width: 66%;
	display: block;
	height: 100px;
}
#FooterMain1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 40%;
	display: block;
	height: 100px;
	padding-right: 9%;
}
#FooterMain2 {
	clear: none;
	float: left;
	margin-left: 0;
	width: 40%;
	display: block;
	height: 100px;
	padding-right: 9%;
}
#CopyRight {
	clear: both;
	float: left;
	width: 100%;
	display: block;
	text-align: center;
	margin-top: 5%;
	margin-bottom: 5%;
}
#Navi-bg {
	clear: both;
	float: left;
	width: 100%;
	display: block;
	background-image: url(../images/navi-bg.png);
	background-repeat: repeat;
	margin-left: auto;
	margin-right: auto;
	height: 36px;
}
#Navi {
	clear: both;
	float: left;
	margin-left: 0px;
	width: 50%;
	display: block;
	list-style-type: none;
	position: relative;
	height: 36px;
	top: 0px;
	background-image: url(../images/navi-bg.png);
	background-repeat: repeat;
}
#Navi ul li {
	width: 20%;
	height: 36px;
	float: left;
	line-height: 5px;
	position: relative;
	font-size: 1em;
	font-weight: normal;
	color: #FFF;
	text-shadow: #999 0.1em 0.1em 0.1em;
	display: block;
	list-style-type: none;
	}
#Navi ul li.rdown {
		background-position:0 -30px;
		color:#C00;
		}
	
#Navi ul li a {
	text-decoration: none;
	color: #FFF;
	font-weight: bold;
	}
#Navi ul li a:hover {
	color: #FF9;
	text-shadow: #000 0.2em 0.2em 0.5em;
	font-weight: bold;
	}
}
